<div class="chat-area profile-area" ng-if="profileCtrl.displayProfile">
  <div class="text-center">
    <img src="{{profileCtrl.user.avatar}}" name="aboutme" width="140" height="140" border="0" class="img-circle avatar"></a>
    <br>
    <div ng-if="!profileCtrl.surnameEditOn">
      <span class="media-heading nickname">{{profileCtrl.displayName}}  </span>
      <i ng-if="profileCtrl.user._id != profileCtrl.currentUser._id" class="edit fa fa-pencil" aria-hidden="true" ng-click="profileCtrl.editSurname()"></i>

      <!--<button ng-if="profileCtrl.user._id != profileCtrl.currentUser._id" class="btn btn-default" ng-click="profileCtrl.editSurname()">Change surname</button>-->
    </div>
    <form ng-if="profileCtrl.surnameEditOn" ng-submit="profileCtrl.sendSurnameForEdit()">
      <input type="text" class="form-control input-nickname" placeholder="Enter a new surname" ng-model="profileCtrl.displayName" autocomplete="off" required/>
      <button class="btn btn-success btn-nickname" type="button">Validate</button>
    </form>
    <hr>
    <p><strong>Bio: </strong><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
    <br>
  </div>
</div>
