.profile-area {
  .avatar {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .nickname {
    font-size: 4em;
  }
  .edit {
    font-size: 2em;
  }
  .input-nickname {
    max-width: 20%;
    text-align: center;
    margin: auto;
  }
  .btn-nickname {
    margin-top: 1em;
  }
  .birthdate-profile {
    margin-bottom: 1em;
  }
}
