<div class="chat-area profile-area" ng-if="profileCtrl.displayProfile">
  <div class="text-center">
    <img src="{{profileCtrl.user.avatar}}" name="aboutme" width="140" height="140" border="0" class="img-circle avatar"></a>
    <br>
    <div ng-if="!profileCtrl.surnameEditOn">
      <span class="media-heading nickname">{{profileCtrl.displayName}}  </span>
      <i ng-if="profileCtrl.user._id != profileCtrl.currentUser._id" class="edit fa fa-pencil" aria-hidden="true" ng-click="profileCtrl.editSurname()"></i>

      <!--<button ng-if="profileCtrl.user._id != profileCtrl.currentUser._id" class="btn btn-default" ng-click="profileCtrl.editSurname()">Change surname</button>-->
    </div>
    <form ng-if="profileCtrl.surnameEditOn" ng-submit="profileCtrl.sendSurnameForEdit()">
      <input type="text" class="form-control input-nickname" placeholder="Enter a new surname" ng-model="profileCtrl.displayName" autocomplete="off" required/>
      <button class="btn btn-success btn-nickname" type="button">Validate</button>
    </form>
    <hr>
    <p class="birthdate-profile" ng-if="profileCtrl.bio"><strong>Date de naissance: </strong><br>
      Birthdate (Current : {{profileCtrl.birthDate | date:'dd-MM-yyyy'}})</p>
    <p class="birthdate-profile" ng-if="!profileCtrl.bio"><strong>Date de naissance: </strong><br>
      Cet utilisateur n'a pas renseigné de date de naissance encore</p>
    <p ng-if="profileCtrl.bio != ('') || !profileCtrl.bio"><strong>Bio: </strong><br>
      {{profileCtrl.user.bio}}</p>
    <p ng-if="profileCtrl.bio == '' || profileCtrl.bio"><strong>Bio: </strong><br>
      Cet utilisateur n'a pas renseigné de bio encore.</p>
    <br>
  </div>
</div>
