$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~ng-notify/src/styles/ng-notify';

//@import '~ng-embed/src/ng-embed';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through gulp
/* inject:scss */
@import '../components/dashboardDirective/dashboardDirective/dashboardDirective';
@import 'main/main';
@import '../components/profileDirective/profileDirective/profileDirective';
@import '../components/roomDirective/roomDirective/roomDirective';
@import 'account/settings/settings';
@import 'account/signup/signup';
/* endinject */
