<div class="chat-area" ng-if="!roomCtrl.displayProfile">
  <div class="title text-center"><b>{{roomCtrl.room.name}}</b></div>
  <div class="chat-list">
    <ul ng-repeat="message in roomCtrl.messages">
      <li class="me">
        <div class="name">
          <img class="media-object img-circle pull-left" style="max-height:25px;" src="{{message.authorAvatar}}"/>
          <span class="">{{message.author}}</span>
        </div>
        <div class="message" ng-if="!message.editOn">
          <ng-embed embed-data="message.text" embed-options="roomCtrl.options"></ng-embed>
          <span class="msg-time">{{message.date | date:'dd-MM-yyyy HH:mm:ss'}}</span>
          <span class="edit-action" ng-if="(roomCtrl.canManage || roomCtrl.isAdmin) && !roomCtrl.isPrivate" ng-click="roomCtrl.editMessage(message)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          </span>
        </div>
        <form ng-if="message.editOn" ng-submit="roomCtrl.sendTextForEdit(message)">
          <div class="input-area room-input">
            <div class="input-wrapper">
              <input type="text" class="form-control" ng-model="roomCtrl.messageEdit" autocomplete="off" required/>
            </div>
            <input type="button" value="Submit" class="send-btn">
          </div>
        </form>
      </li>
      <br>
    </ul>
  </div>
  <div ng-if="roomCtrl.isParticipant"ngf-drop ngf-select ng-model="roomCtrl.file" class="drop-box" id="file"
       ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
       accept="image/*,application/pdf" ngf-change="roomCtrl.sendFile()"
       ngf-pattern="'image/*,application/pdf'" ngf-select-disabled="true"
       ngf-resize="{width: 100, height: 100, quality: 1, type: 'image/jpeg',
               ratio: '1:2', pattern='.jpg', restoreExif: false}" ngf-max-size="10MB">
    <form ng-submit="roomCtrl.sendMessage()">
      <div class="input-area room-input">
        <div class="input-wrapper">
          <input type="text" class="form-control" placeholder="Enter Message or drag a file" ng-model="roomCtrl.message" autocomplete="off" required/>
        </div>
        <input type="button" value="Submit" class="send-btn">
      </div>
    </form>
  </div>
</div>

<profile-directive userid="{{roomCtrl.profileDisplayId}}" ng-if="roomCtrl.displayProfile"></profile-directive>

<div class="right-tabs">
  <ul class="tabs" ng-if="(!roomCtrl.room.private || roomCtrl.room.privateMulti) && roomCtrl.isParticipant">
    <li id="participants-nav" class="active">
      <a ng-click="roomCtrl.displayTheParticipants()"><i class="fa fa-users"></i></a>
    </li>
    <li id="friends-nav">
      <a ng-click="roomCtrl.displayMyFriends()"><i class="fa fa-address-book"></i></a>
    </li>
  </ul>
  <ul class="tabs" ng-if="roomCtrl.room.private && (!roomCtrl.room.privateMulti || !roomCtrl.isParticipant)">
    <li class="participants-nav-full" class="active">
      <a ng-click="roomCtrl.displayTheParticipants()"><i class="fa fa-users"></i></a>
    </li>
  </ul>
  <!--Particpants list-->
  <div class="participants-container text-center" ng-if="roomCtrl.displayParticpants">
    <div class="back-to-room" ng-click="roomCtrl.displayChat()" ng-if="roomCtrl.displayProfile"><span>< Back to the room</span></div>
    <ul class="member-list" ng-repeat="participant in roomCtrl.users">
      <li class="user-li">
        <span ng-if="participant.state === 'Offline'" class="status offline pull-left"><i class="fa fa-circle-o"></i></span>
        <span ng-if="participant.state === 'Online'" class="status online pull-left"><i class="fa fa-circle-o"></i></span>
        <span ng-if="participant.state === 'Busy'"class="status idle pull-left"><i class="fa fa-circle-o"></i></span>
        <div ng-if="!roomCtrl.moderators.includes(participant._id) && !roomCtrl.isPrivate">
          <span ng-if="roomCtrl.isAdmin && !roomCtrl.moderators.includes(participant._id)" ng-click="roomCtrl.giveModeratorRights(participant._id)" class="pull-left"><i class="fa fa-plus" aria-hidden="true"></i></span>
        </div>
        <div ng-if="roomCtrl.moderators.includes(participant._id) && !roomCtrl.isPrivate">
          <span ng-if="roomCtrl.isAdmin && roomCtrl.moderators.includes(participant._id)" ng-click="roomCtrl.removeModeratorRights(participant._id)" class="pull-left"><i class="fa fa-minus" aria-hidden="true"></i></span>
        </div>
        <span class="user-name" ng-click="roomCtrl.displayAProfile(participant._id)">{{participant.name}}</span>
        <span ng-if="roomCtrl.room.admin == participant._id && !roomCtrl.isPrivate"> | A</span>
        <span ng-if="roomCtrl.moderators.includes(participant._id) && !roomCtrl.isPrivate"> | M</span>

        <img class="media-object img-circle pull-right" style="max-height:20px;" src="{{participant.avatar}}"/>
      </li>
    </ul>
    <button ng-if="!roomCtrl.isParticipant" ng-click="roomCtrl.joinRoom()" class="btn btn-success btn-join">Join the room</button>
    <button ng-if="roomCtrl.isParticipant && !roomCtrl.isPrivate" ng-click="roomCtrl.leaveRoom()" class="btn btn-danger btn-join">Leave</button>
  </div>
  <!--Friends list-->
  <div class="participants-container" ng-if="roomCtrl.displayFriends">
    <div class="back-to-room" ng-click="roomCtrl.displayChat()" ng-if="roomCtrl.displayProfile"><span>< Back to the room</span></div>
    <ul class="member-list" ng-repeat="friend in roomCtrl.friends">
      <li class="user-li">
        <img class="media-object img-circle pull-left friend-list-avatar" style="max-height:20px;" src="{{friend.user.avatar}}"/>
        <span class="user-name">{{friend.nickname}}</span>
        <i  ng-click="roomCtrl.addMember(friend.user._id, $index)" class="fa fa-plus pull-right" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</div>
