.dashboard-area {
  border-top: 1px solid #cfdae1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 90%;
  margin-left: 2%;
  box-shadow: inset 0 1px 3px rgba(207, 218, 225, 0.42);
  .col-container {
    height: 100%;
    .col-row {
      height: 50%;
      .one-col {
        height: 100%;
        .request-area, .private-area, .public-area, .friend-add-area {
          height: 100%;
        }
        .area-title {
          font-size: 2em;
          margin-top: 1em;
          margin-bottom: 1em;
        }
        .area-subtitle {
          font-size: 1.5em;
          margin-top: 1em;
          margin-bottom: 1em;
        }
        .my-request {
          text-align: center;
          margin-bottom: 0.5em;
        }
        .public-room-input {
          width: 40%;
          margin: 2em auto 2em auto;
        }
        .text-room-info {
          margin-bottom: 1em;
          margin-top: 1em;
        }
        .request-name {
          margin-right: 1em;
        }
        .btn-accept {
          margin-right: 0.5em;
        }
        .result-avatar {
          display: inline;
          margin-right: 1em;
          max-height:60px;
        }
        .result-add, .result-add-name {
          font-size: 1.5em;
        }
        .result-add-name {
          margin-right: 0.5em;
        }
        .add-btn {
          vertical-align: 100%;
        }
        .search-friend-btn {
          margin-bottom: 1em;
        }
        .result-list-search {
          margin-bottom: 1em;
        }
        .text-awaiting-request {
          margin-right: 1em;
        }
        .friend-search-input {
          width: 40%;
          margin: auto;
        }
      }
    }
  }
}
